<% content_for :javascript_includes do %>
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "jquery.layout.js" %>
<!-- <%= javascript_include_tag "jquery.ui.all.js" %> -->
<%= javascript_include_tag "jquery-ui.min.js" %>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
        $('body').layout({
            applyDemoStyles : true
        });
    }); 
</script>

<div class="header-left">
	Feed-Store, a community driven RSS-content aggregator
</div>

<div id="user_nav" >
	<% if user_signed_in? %>
	Signed in as <%= current_user.email %> | <%= link_to " Sign out ", destroy_user_session_path %>
	<% else %>
	<%= link_to " Sign up ", new_user_registration_path %>  or <%= link_to "sign in", new_user_session_path %>
	<% end %>
</div>