<div class="ui-layout-center">

	<h1>Editing feed</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @feed %> |
	<%= link_to 'Back', feeds_path %> |
	<%= render 'home' %>
</div>

<div class="ui-layout-north">
	<%= render 'header' %>

</div>



