<div class="ui-layout-center">
	<h2>Listing feeds</h2>

	<div class="flickr_pagination">
		<div id="page_info">
			<table>
				<tr>
					<th>Tag</th>
					<th>Name</th>
					<th>Url</th>
					<th>Userid</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>

				<% @feeds.each do |feed| %>
				<tr>
					<td> <%= @url_vs_tagnames[feed.url] %> </td>
					<td><%= feed.name %></td>
					<td><%= link_to feed.url, feed.url, :target => '_blank' %></td>
					<td><%= feed.userid %></td>
					<td><%= link_to 'Show', feed %></td>
					<td><%= link_to 'Edit', edit_feed_path(feed) %></td>
					<td><%= link_to 'Destroy', feed, :method => :delete, :data => { :confirm => 'Are you sure you want to delete the entry in the table?' } %></td>
				</tr>
				<% end %>
			</table>
		</div>
		<br>
		<%= will_paginate @feeds %>
	</div>
	<br />

	<%= link_to 'New Feed', new_feed_path %> |
	<%= render 'home' %>

</div>
<div class="ui-layout-north">
	<%= render 'header' %>

</div>



