<div class="ui-layout-center">

	<p id="notice">
		<%= notice %>
	</p>

	<div class="flickr_pagination">
		<div id="page_info">
			<table>
				<tr>
					<th> Tag </th>
					<th> Name </th>
					<th> URL </th>
					<th> UserID </th>
				</tr>

				<tr>
					<td> <%= @url_vs_tagnames[@feed.url] %> </td>
					<td> <%= @feed.name %> </td>
					<td> <%= link_to @feed.url, @feed.url, :target => "_blank" %> </td>
					<td> <%= @feed.userid %> </td>
				</tr>
			</table>
		</div>
	</div>

	<%= link_to 'Edit', edit_feed_path(@feed) %> |
	<%= link_to 'Back', feeds_path %> |
	<%= render 'home' %>

	<h2>Comments</h2>
	<div id='comments'>
		<%= render :partial => @feed.comments %>
	</div>

	<% @feed.comments.each do |comment| %>

	<div id="comment" >
		<%= h(comment.body) %> </br>
		[<i><%= comment.userid %> |
		Posted <%= time_ago_in_words(comment.created_at) %> ago</i>]
		<br/>
		<% if current_user.email==comment.userid %>
		<%= link_to_if(current_user.email==comment.userid,  'Edit', edit_feed_comment_path(@feed, comment) )%> |
		<%= link_to_if(current_user.email==comment.userid,  'Delete', feed_comment_path(@feed, comment), :confirm => 'Are you sure?', :method => :delete) %>
		<% end %>
	</div>
	<%end%>

	<%= form_for([@feed, @feed.comments.build]) do |f| %>

	<p>
		<%= f.label :body, "New Comment" %>
		<br/>
		<%= f.text_area :body , :rows=>10, :cols=>72 %>
	</p>
	<p>
		<%= f.submit "Add Comment" %>
	</p>
	<% end %>

</div>



<div class="ui-layout-north">
	<%= render 'header' %>

</div>



