<div>
	<div class="header-left">
		Feed-Store, a community driven RSS-content aggregator
	</div>

	<div class="header-right">
		<%= link_to "Manage Feeds", feeds_path %> |

		<%= link_to " Sign out ", destroy_user_session_path %>
	</div>
</div>
