<% content_for :head do -%>
  <%= stylesheet_link_tag 'jquery-ui.css' %>
<% end -%>



<% if user_signed_in? %>
		Signed in as <%= current_user.email %> | <%= link_to " Sign out ", destroy_user_session_path %>
<% else %>
		<%= link_to " Sign up ", new_user_registration_path %>  or <%= link_to "sign in", new_user_session_path %>
<% end %>
	
	
	
	
<div id="accordion" class="accordianitem">
	<% for key in @tag_vs_name_map.keys %>

    <h3 class="tagcontainer">
    	<a href="#"><%= key %>
    	
   		</a>
    </h3>
	<div>
		 <p>
		   <% names = @tag_vs_name_map[key] %>
		   
           <ul id="menu" align="center">
                        <% for feed in names %>
                               <li class="namelist">                                     
                               	 <%= feed.to_s %>            
                               </li>
                       <% end %>
                       </ul>  
		 </p>
	</div>
 	<% end %>
</div>  
      
