<% content_for :javascript_includes do %>
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "jquery.layout.js" %>
<%= javascript_include_tag "jquery-ui.min.js" %>
<% end %>

<script type="text/javascript">

	//TODO : MOVE this to .js file
	$(document).ready(function () {
					
		var selectedTag = ""
			
		$('body').layout({ west__size:260 });
		$( "#accordion" ).accordion({ header: "h3" , icons:false});
		$('#accordion .ui-state-hover').css('background', 'red');
		$('#accordion .ui-state-hover').css('color', 'white');
		$('#accordion .ui-state-focus').css('background', 'none' );
	
	$("."+'namelist').click(function() {
		
			var active = $( "#accordion" ).accordion( "option", "active" );

			var header_active_text = $("#accordion h3").eq(active).text();
			var parent = $(this).closest("href").parent().text()
			var feed_name  =  $(this).text()
			
			console.log(header_active_text.trim())
			console.log(feed_name.trim())
			
			
		$.ajax({
			beforeSend : function(xhr) {
				xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]')
						.attr('content'));
			},
			type : "GET",
			url : "?tag="+header_active_text.trim()+"&name="+feed_name.trim()
		});		
	});	
	
	$("." + 'tagcontainer').click(
		function(event) {
			
				var active = $("#accordion").accordion("option",
						"active");

				var header_active_text = $("#accordion h3").eq(active)
						.text();
				
				event.preventDefault();
				event.stopPropagation();

				$.ajax({
				beforeSend : function(xhr) {
				xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]')
						.attr('content'));
			},
			type : "GET",
			url : "?tag="+header_active_text.trim()
		});		
	});
	
	$("." + 'rssicon').click(
			function(event) {
				
				var active = $("#accordion").accordion("option",
						"active");

				var header_active_text = $("#accordion h3").eq(active)
						.text();
				var parent = $(this).closest("href").parent().text()
				var feed_name = $(this).text()

				event.preventDefault();
				event.stopPropagation();
				var $obj = $(this);
				var header_a = $obj.closest('a')
				header_tag = header_a.text()
				
				$.ajax({
					beforeSend : function(xhr) {
						xhr.setRequestHeader('X-CSRF-Token', $(
								'meta[name="csrf-token"]').attr(
								'content'));
					},
					type : "GET",
					url : "/rss_feeds/generate_rss.rss?tag=" + header_tag,
					
				 	success : function(result) {
				 		window.location = "/rss/"+header_tag.trim()+".rss"
				 		
				 	}

				});
			});
			
			$("." + 'rssicon').click(
					
					function(event) {
						
						var active = $("#accordion").accordion("option",
								"active");

						var header_active_text = $("#accordion h3").eq(active)
								.text();
						var parent = $(this).closest("href").parent().text()
						var feed_name = $(this).text()

						event.preventDefault();
						event.stopPropagation();
						var $obj = $(this);
						var header_a = $obj.closest('a')
						header_tag = header_a.text()
						
						$.ajax({
							beforeSend : function(xhr) {
								xhr.setRequestHeader('X-CSRF-Token', $(
										'meta[name="csrf-token"]').attr(
										'content'));
							},
							type : "GET",
							url : "/rss_feeds/generate_rss.rss?tag=" + header_tag,
							
						 	success : function(result) {
						 		window.location = "/rss/"+header_tag.trim()+".rss"
						 	
						 	}

						});
					});
		});

</script>

<div class="ui-layout-center">
	<div id="contentContainer">
		<%= render 'feedview' %>
	</div>
</div>

<div class="ui-layout-north">
	<%= render 'header' %>
</div>

<div class="ui-layout-south">
	<center>
		Copyright 2012 Virginia Tech - Created by Ashwin Acharya, Sunil Kamalakar, Shridhar Chandan.
	</center>
</div>

<div class="ui-layout-west">
	<%= render 'tagview' %>
</div>

