   <%= javascript_include_tag "jquery.js" %>
   <%= javascript_include_tag "jquery.layout.js" %>
   <%= javascript_include_tag "jquery-ui.min.js" %>
   <%= stylesheet_link_tag "application.css" %>

 

<script type="text/javascript">
	//TODO : MOVE this to .js file
	$(document).ready(function () {
					

		console.log("!1")
		var selectedTag = ""
		
		$('body').layout({ west__size:260 });
		$( "#accordion" ).accordion({ header: "h3" , icons:false});
		$('#accordion .ui-state-hover').css('background', 'red');
		$('#accordion .ui-state-hover').css('color', 'white');
		$('#accordion .ui-state-focus').css('background', 'none' );
	
	$("."+'namelist').click(function() {
		
			var active = $( "#accordion" ).accordion( "option", "active" );

			var header_active_text = $("#accordion h3").eq(active).text();
			var parent = $(this).closest("href").parent().text()
			var feed_name  =  $(this).text()
			
			console.log(header_active_text.trim())
			console.log(feed_name.trim())
			
			var url = "?tag="+header_active_text.trim()+"&name="+feed_name.trim()
			window.location = url
				
	});	
	
	$("." + 'tagcontainer').click(
		
		function(event) {
			
				var active = $("#accordion").accordion("option",
						"active");

				var header_active_text = $("#accordion h3").eq(active)
						.text();
				
				event.preventDefault();
				event.stopPropagation();
				var url = "?tag="+header_active_text.trim()
		
	});
	
	$("." + 'rssicon').click(
			function(event) {
				
				var active = $("#accordion").accordion("option",
						"active");

				var header_active_text = $("#accordion h3").eq(active)
						.text();
				var parent = $(this).closest("href").parent().text()
				var feed_name = $(this).text()

				event.preventDefault();
				event.stopPropagation();
				var $obj = $(this);
				var header_a = $obj.closest('a')
				header_tag = header_a.text()
				
				$.ajax({
					beforeSend : function(xhr) {
						xhr.setRequestHeader('X-CSRF-Token', $(
								'meta[name="csrf-token"]').attr(
								'content'));
					},
					type : "GET",
					url : "/rss_feeds/generate_rss.rss?tag=" + header_tag,
					success : function(result) {
				 		window.location = "/rss/"+header_tag.trim()+".rss"
				 		//window.open("http://0.0.0.0:3000/rss_feeds/generate_rss.rss?category="+header_tag , _blank)
				 	}

				});
			});
			
			$("." + 'rssicon').click(
					
					function(event) {
						
						var active = $("#accordion").accordion("option",
								"active");

						var header_active_text = $("#accordion h3").eq(active)
								.text();
						var parent = $(this).closest("href").parent().text()
						var feed_name = $(this).text()

						event.preventDefault();
						event.stopPropagation();
						var $obj = $(this);
						var header_a = $obj.closest('a')
						header_tag = header_a.text()
						
						$.ajax({
							beforeSend : function(xhr) {
								xhr.setRequestHeader('X-CSRF-Token', $(
										'meta[name="csrf-token"]').attr(
										'content'));
							},
							type : "GET",
							url : "/rss_feeds/generate_rss.rss?tag=" + header_tag,
							
						 	success : function(result) {
						 		window.location = "/rss/"+header_tag.trim()+".rss"
						 	
						 	}

						});
					});
			
	});
</script>


<div class="ui-layout-center">
	<% if params[:tag].nil? %>
		<div id="contentContainer">
			<%= render 'tagview' %>
		</div>
	<% else %>
		<div id="contentContainer">
			<%= render 'tagview' %>
		</div>
	<% end %>
	
</div>

