/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require home.css.scss 
 *= require_self
 *= require_tree .
 */

.header-left {
  
  width: 70%; 
  float:left; 
  font-weight: bold; 
  font-size: 20; 
  color: maroon
}

.header-right{
	
   width: 25%; 
   float: right;
   right:20px;
   text-align:center

}

 
 
