// Place all the styles related to the feed_display controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-state-hover {
  color: #888888;
  background: #666666;
}


  
  
  #menu {
    padding:0;
    margin:0;
    width:0;
  }
  #menu li {
    
    margin:0 0 0.25em 0;
  }
  #menu li, #menu li:visited {
    position:relative;
    display:block;
    width:9em;
    border:1px solid #808;
    font-family:arial, verdana, sans-serif;
    font-size:0.8em;
    text-align:center;
    text-decoration:none;
    background:#808080; 
    color:#eee;
    padding:0.25em;
    }
  
  #menu li:hover {
    background:#ddd;
    color:#808;
  }
  
    .contentitem {
      width: 90%; 
      border: 1px;
      padding: 10px;
      border-radius: 5px;
      background-color: #f2f2f2;
      margin: 15px;   
    }
    
    .accordianitem {
      
      width:240px;
    }
    
    .rssicon {
      
      width:21px;
      height:21px;
      float:right
      
    }






