// Place all the styles related to the Feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  width: 600px !important;
  border-collapse: collapse;
  border: 1px solid #111111;
  font: normal 11px verdana, arial, helvetica, sans-serif;
  background: #BBBBBB;
  }
caption {
  text-align: left;
  font: normal 11px verdana, arial, helvetica, sans-serif;
  background: transparent;
  }
th {
  background: #777777
}
td, th {
  border: 1px dashed #111111;
  padding: .8em;
  }
thead th, tfoot th {
  font: bold 11px verdana, arial, helvetica, sans-serif;
  border: 1px solid #AAAAAA;
  text-align: left;
  padding-top:6px;
  }
tbody td a {
  background: transparent;
  text-decoration: none;
  }
tbody td a:hover {
  background: #888888;
  }
tbody th a {
  font: normal 11px verdana, arial, helvetica, sans-serif;
  background: transparent;
  text-decoration: none;
  font-weight:normal;
  }
tbody th a:hover {
  background: transparent;
  color: #FFFFFF;
  background: #AAAAAA;
  }
tbody tr:hover {
  background: #AAAAAA;
  }
tbody tr:hover th,
tbody tr.odd:hover th {
  background: #777777;
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    color: #111111;
    text-decoration: underline; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
    

#selection {
  
  width:470px;
}

#comment {
  
  padding:10px; 
  margin-bottom: 10px; 
  border-bottom:1px solid; 
  width:40%
}
