// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
  
  .bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

 .container {
  /* This is the only important rule */
  /* We need our content to show up on top of the background */
  position: relative; 
}

.p {
  
  margin-top: 20px;   
  font-size: 20px; 
  color: maroon
}

.bold {
  font-weight: bold; 
}

.left-pane {
  
  width: 35%; 
  float:left; 
  margin-top: 100px;
  margin-left: 100px
}
  
.right-pane {
   width:40%; 
   float:right; 
   margin-top: 100px;
   margin-right: 100px;
   font-size: 15px; 
   //color: maroon
} 

.table {
  width: 300px !important;
  border-collapse: collapse;
  border: 1px solid #111111;
  font: normal 11px verdana, arial, helvetica, sans-serif;
  background: #BBBBBB;
  }
.caption {
  text-align: left;
  font: normal 11px verdana, arial, helvetica, sans-serif;
  background: transparent;
  }
.th {
  background: #777777
}

.td {
  border: 1px dashed #111111;
  padding: .8em;
  }
  
  .td {
  border: 1px dashed #111111;
  padding: .8em;
  }


 